# _config.yml

lsi: false
safe: true
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge

theme: jekyll-theme-minimal

title: Anastasiia Breskina
description: Hi, my name is Anastasiia and here I write about my academic work.

show_downloads: false  # Hide the download button
